{% extends 'halaman/base.html' %}
{% load static %}
{% block content %}
<div
  class="page-header header-filter header-small"
  data-parallax="true"
  style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Tentang Kami</h1>
        <h4>
          Temui tim luar biasa di balik proyek ini dan cari tahu lebih lanjut
          tentang caranya kami bekerja.
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="about-description text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h5 class="description">
            Saya adalah seorang programmer web dengan fokus utama pada pengembangan menggunakan framework Django.
            Dalam karier saya, saya telah mengembangkan berbagai aplikasi web mulai dari aplikasi 
            sederhana hingga proyek-proyek yang lebih kompleks menggunakan Django sebagai kerangka kerja utama.
          </h5>
        </div>
      </div>
    </div>
    <div class="about-team team-1">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Tim Kami</h2>
          <h5 class="description">
            Kami adalah sekelompok programmer web yang berdedikasi untuk menciptakan solusi-solusi inovatif di dunia digital.
            Dengan latar belakang yang kuat dalam pengembangan web,
            kami berfokus untuk memberikan layanan terbaik kepada klien kami melalui aplikasi-aplikasi web yang kami kembangkan.
            Sebagai programmer web, kami memiliki keahlian dalam menggunakan berbagai teknologi dan bahasa pemrograman,
            termasuk tetapi tidak terbatas pada HTML, CSS, JavaScript, Python, dan framework-framework populer seperti Django dan Flask.
            Kami menggabungkan keahlian teknis ini dengan kreativitas untuk menciptakan desain-desisn yang menarik dan fungsional bagi setiap proyek yang kami tangani.
            Kami selalu berusaha untuk memberikan solusi yang sesuai dengan kebutuhan klien, baik itu dalam pengembangan aplikasi web skala kecil hingga besar.
            Kualitas dan kepuasan klien adalah prioritas utama kami, dan kami terus mengembangkan kemampuan kami dengan mengikuti perkembangan terbaru di dunia teknologi web.
            Dengan pengalaman dan pengetahuan yang kami miliki, kami siap membantu Anda dalam mewujudkan ide-ide digital Anda menjadi aplikasi web yang handal dan efisien.
            Hubungi kami hari ini untuk mendiskusikan bagaimana kami dapat bekerja sama dalam mencapai tujuan bisnis Anda melalui solusi web yang tepat dan inovatif.
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img
                  class="img"
                  src="{% static 'halaman/assets/img/faces/lin.jpg' %}"
                />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">Indra_JusThat</h4>
              <h6 class="category text-muted">CEO / Co-Founder</h6>

              <p class="card-description">
                Kami adalah Mahasiswa Universitas Muhammadiyah Kalimantan Timur, Samarinda,
                Kalimantan Timur, Indonesia.
              </p>
              <div class="footer">
                <a
                  href="https://www.instagram.com/indra_justhat?igsh=cWZzZ3ZwZ3JxZTA="
                  target="_blank"
                  class="btn btn-just-icon btn-simple btn-instagram"
                >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  href="https://www.facebook.com/Indra.JusThat?mibextid=ZbWKwL"
                  target="_blank"
                  class="btn btn-just-icon btn-simple btn-facebook"
                >
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a
                  href="https://youtube.com/@indra_justhat?si=AtQHHVz1mduc7dqk"
                  target="_blank"
                  class="btn btn-just-icon btn-simple btn-google"
                >
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
