{% extends 'halaman/base.html' %} {% load static %} {% block content %}
<div
  class="page-header header-filter header-small"
  data-parallax="true"
  style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}"
  )
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Tentang Kami</h1>
        <h4>
          Temui tim luar biasa di balik proyek ini dan cari tahu lebih lanjut
          tentang caranya kami bekerja.
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="about-description text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h5 class="description">
            Saya adalah pengembang aplikasi berita ini. Saya memiliki
            ketertarikan yang mendalam terhadap dunia jurnalistik dan teknologi,
            sehingga saya termotivasi untuk menciptakan platform ini untuk
            menyajikan berita yang aktual dan terpercaya kepada Anda. Saya
            selalu berusaha untuk menyempurnakan aplikasi ini dengan
            menghadirkan fitur-fitur baru dan meningkatkan kualitas konten. Saya
            harap Anda merasa terbantu dan mendapatkan informasi yang bermanfaat
            dengan menggunakan aplikasi ini. Jika Anda memiliki saran atau
            masukan, jangan ragu untuk menghubungi saya. Saya sangat menghargai
            partisipasi Anda dalam membuat aplikasi ini menjadi lebih baik.
          </h5>
        </div>
      </div>
    </div>
    <div class="about-team team-1">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Tim Kami</h2>
          <h5 class="description">
            Kami adalah para ahli teknologi dan kreativitas yang bersemangat
            dalam menciptakan solusi canggih di dunia digital. Tim kami adalah
            gabungan antara pemikir teknologi dan seniman kreatif yang bersatu
            untuk memberikan solusi terbaik. Di sini, inovasi bertemu dengan
            kisah yang mendalam, kami berusaha untuk menghadirkan pengalaman
            berita yang unik. Temukan berbagai cerita menarik dan analisis yang
            mendalam di setiap kliknya. Bergabunglah bersama kami dalam
            menjelajahi berbagai isu terkini, dari dunia politik hingga
            teknologi. Kami bukan hanya memberitakan kabar terbaru, tetapi juga
            membentuk masa depan cara penyampaian informasi.
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img
                  class="img"
                  src="{% static 'halaman/assets/img/faces/madan-tentang.jpg' %}"
                />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">Ramadan</h4>
              <h6 class="category text-muted">CEO / Co-Founder</h6>

              <p class="card-description">
                Saya seorang mahasiswa yang berasal dari Kampung Delang Kerohong
                Kec. Long Pahangai Kab. Mahakam Ulu Prov. Kalimantan
                Tiur-Indonesia
              </p>
              <div class="footer">
                <a
                  href="https://www.instagram.com/deng_dihe_ke/#"
                  target="_blank"
                  class="btn btn-just-icon btn-simple btn-instagram"
                >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  href="https://www.facebook.com/profile.php?id=100026097726203"
                  target="_blank"
                  class="btn btn-just-icon btn-simple btn-facebook"
                >
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a
                  href="https://www.youtube.com/channel/UCdvAW8LA4YBSp6Lm8VycCcQ#"
                  target="_blank"
                  class="btn btn-just-icon btn-simple btn-google"
                >
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img
                  class="img"
                  src="{% static 'halaman/assets/img/faces/madan-tentang.jpg' %}"
                />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">Ramadan</h4>
              <h6 class="category text-muted">CEO / Co-Founder</h6>

              <p class="card-description">
                Saya seorang mahasiswa yang berasal dari Kampung Delang Kerohong
                Kec. Long Pahangai Kab. Mahakam Ulu Prov. Kalimantan
                Tiur-Indonesia
              </p>
              <div class="footer">
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-instagram"
                >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-facebook"
                >
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-google"
                >
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img
                  class="img"
                  src="{% static 'halaman/assets/img/faces/madan-tentang.jpg' %}"
                />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">Ramadan</h4>
              <h6 class="category text-muted">CEO / Co-Founder</h6>

              <p class="card-description">
                Saya seorang mahasiswa yang berasal dari Kampung Delang Kerohong
                Kec. Long Pahangai Kab. Mahakam Ulu Prov. Kalimantan
                Tiur-Indonesia
              </p>
              <div class="footer">
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-instagram"
                >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-facebook"
                >
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-google"
                >
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img
                  class="img"
                  src="{% static 'halaman/assets/img/faces/madan-tentang.jpg' %}"
                />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">Ramadan</h4>
              <h6 class="category text-muted">CEO / Co-Founder</h6>

              <p class="card-description">
                Saya seorang mahasiswa yang berasal dari Kampung Delang Kerohong
                Kec. Long Pahangai Kab. Mahakam Ulu Prov. Kalimantan
                Tiur-Indonesia
              </p>
              <div class="footer">
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-instagram"
                >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-facebook"
                >
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-just-icon btn-simple btn-google"
                >
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
