{% extends 'halaman/base.html' %} {% load static %} {% block content %}
<div
  class="page-header header-filter header-small"
  data-parallax="true"
  style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}"
  )
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Tentang Kami</h1>
        <h4>
          Temui tim luar biasa di balik proyek ini dan cari tahu lebih lanjut
          tentang cara kami bekerja.
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="contact-content">
    <div class="container text-center">
      <h2 class="title">Informasi Kami</h2>
      <div class="row">
    <div class="col-12 col-md-12">
      <div class="col-md-4 col-md-offset-2">
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">pin_drop</i>
          </div>
          <div class="description">
            <h4 class="info-title">Temui Kami Di Kantor</h4>
            <p>
              Jalan Juanda 8, Kalimantan Timur,<br />
              Indonesia
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">phone</i>
          </div>
          <div class="description">
            <h4 class="info-title">Give us a ring</h4>
            <p>
              Indra<br />
              +6281256284508<br />
              Senin - Jum'at, 8:00-16:00
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">business_center</i>
          </div>
          <div class="description">
            <h4 class="info-title">Informasi Resmi</h4>
            <p>
              Kelompok 1 Ltd.<br />
              VAT &middot; EN2341241<br />
              IBAN &middot; EN8732ENGB2300099123<br />
              Bank &middot; BRI
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-2">
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">email</i>
          </div>
          <div class="description">
            <h4 class="info-title">Drop us an email</h4>
            <p>
              kanedorenoda@gmail.com<br />
              2211102441044@umkt.ac.id
            </p>
          </div>
        </div>
      </div>
      
    </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



